@model LoginViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_LoginLayout.cshtml";
}

<section class="w3l-forms-23">
    <div class="forms23-block-hny">
        <div class="wrapper">
            <h1>Dobro došli u Zamger-v2</h1>


            <div class="d-grid forms23-grids">
                <div class="form23">
                    <div class="main-bg">
                        <h6 class="sec-one">Prijavi se</h6>
                        <div class="speci-login first-look">
                            <img src="/images/user.png" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="bottom-content">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div asp-validation-summary="All" class="alert alert-danger" style="color:red"></div>
                        }
                        <form action="#" method="post">
                            <input type="text" class="input-form" placeholder="username"
                                   asp-for="username" />
                            <input type="password" class="input-form"
                                   placeholder="password" asp-for="password" />
                            <button type="submit" class="loginhny-btn btn">Prijavi se</button>
                        </form>
                        <p>Huso Hamzić i <a href="https://github.com/ooad-2019-2020/Grupa2-Zamger">ostali</a></p>
                    </div>
                </div>
            </div>
            <div class="w3l-copy-right text-center">
                <p>
                    © 2020 Zamger-v2. All rights reserved | Design by
                    <a href="https://github.com/ooad-2019-2020/Grupa2-Zamger" target="_blank">Grupa2-Zamger</a>
                </p>
            </div>
        </div>
    </div>
</section>