<!DOCTYPE html>
<html>
<head>
    <title>Zamger-v2</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Zamger-v2" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
